:root {
    --azul:#11ABC1;
    --rojo:#DF3062;
    --amarillo:#F5B935;
    --verde:#4BAC3F;

    --fondo: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --tarjeta-principal: rgba(255, 255, 255, 0.8);
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;

    }

  body {
    
    margin:0px;
    font-size: 16px;
    background-color: var(--fondo);
    font-family: "DM Sans", sans-serif;
    /*color: var(--main-color);*/
    background-image: url("../img/fondo-math.png");

    box-sizing:border-box;

  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: var(--tarjeta-principal);
    height: 500px;
    color: var(--main-color);
    border-radius: 32px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 2%;
  }

  .topnav {
    overflow: hidden;
    background-color: var(--tarjeta-principal);
    position: relative;
    margin-bottom: 5px;
    color: var(--main-color);
    border-radius: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .topnav #myLinks {
    display: none;
    float: right;
  }

  .topnav a {
    float: left;
    color: var(--main-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .icono {
    width: 0.87em;
    
  }

  .icono2 {
    
    margin:0px;
    padding:0px;
  }

  .topnav a.icon {
    float: right;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: var(--rojo);
    color: white;
  }

  .feedback{
      width: 10px;
      height: 10px;
  }

  #operacion {
    
    text-align: center;
    font-size: 59px;

  }

  .contenedor-juego{
    margin: auto;
    width: 50%;
    
    padding: 10px;
    text-align: center;
    
  }


/*carousel de operaciones*/
#carouselWrapper {
  position: relative;
  overflow: hidden;
}
#carousel {
  position: absolute;
  visibility: hidden;
}